body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
/* buttons */
a {
    text-decoration: none;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
/*hero */
#header {
    display: flex;
    background-color: black;
    width: 100%;
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 32px;
    text-decoration: none;
    list-style-type: none;
}
#toprighticons {
    display: flex;
    align-items: center;
}
/* main body */
.maininfo {
    position: absolute;
    text-align: center;
    top: 17%;
    left: 40%;
    right: auto;
    color: white;
}
#frontbutton {
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: 10px;
    font-size: bold;
    margin-left: 120px;
    margin-right: 120px;
}
#frontbutton:hover {
    background-color: #4249be;
    color: white;
}
.front-picture {
    width: 100%;
    height: 1282px;
}
#start {
    width: 100%;
    height: 400px;
    font-size: 30px;
    position: absolute;
    top: 100px;
    right: 0px;
}
/* cards information */
#infobody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    color: white;
    position: absolute;
    top: 400px;
}
#spotifycards {
    display: flex;
    width: 100%;
    gap: 16px;
    border: 16px;
    border-color: #3882F6;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    opacity: .8;
    font-size: 20px;
}
iframe {
    width: 80%;
}
/* quote*/
#quote {
    background-image: linear-gradient(white);
    width: 100%;
}
.insidebody {
    flex-direction: column;
    margin: 16px 100px 16px 100px;
    color: white;
    background-color: black;
    opacity: .9;
    border: 20px;
    border-radius: 15px;
    position: absolute;
    top: 1050px;
    left: 5%;
}
#quotebody {
    font-size: 30px;
}
/* signup */
#signup {
    background-color: black;
    width: 100%;
    padding: 50px;
    position: absolute;
    top: 1280px;
}
#insidesignup {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left:30%;
    margin-right: 33%;
    background-color: #1d1819;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#baddiebutton {
    background-color: black;
    padding: 20px;
    border-radius: 25%;
}
#baddiebutton:hover {
    background-color: red;
}
/* footer */
#footer {
    background-color: #1F2937;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0;
    justify-content: center;
    text-align: center;
    color: white;
}
/* icon definitions */
.socials-icons {
    border-style: solid;
    color: black;
    gap: 12px;
  
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
  .fa-3x{
    color: black;
  }
  .socials-icons a {
    background-color: white;
    padding: 1em;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
  }
  /* animations */
  .socials-icons a::before {
    content:attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    padding: 0.5em 1em;
    border-radius: 100px;
    transform: translateY(30px) rotate(35deg);
    opacity: 0;
    transition:200ms cubic-bezier(.42,0,.44,1.68);
  }
  .socials-icons :hover {
    background-color: var(--accent-color);
    color: white;
  }
  .socials-icons a::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(35deg);
    opacity: 0;
    transition:200ms cubic-bezier(.42,0,.44,1.68);
  }
  .socials-icons a:hover::before {
    transform: translateY(68px) rotate(0);
    opacity: 1;
  }
  .socials-icons a:hover::after {
    transform: translateY(47px) rotate(-180deg);
    opacity: 1;
  }