body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.mainbody{
    display: flex;
}
/* buttons */
a {
    text-decoration: none;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
/*hero */
#header {
    width: 100%;
    color: white;
    justify-content: space-around;
    height: 100px;
}
.links {
    display: flex;
    gap: 32px;
    text-decoration: none;
    list-style-type: none;
}
/* main body */
#start {
    background-color: #1F2937;
    color: white;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    font-size: 30px;
}
/* cards information */
#infobody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}
#spotifycards {
    display: flex;
    gap: 16px;
    border: 16px;
    border-color: #3882F6;
    text-align: center;
}
.cards {

}
/* quote*/
#quote {
    background-color: #E5E7EB;
}
.insidebody {
    flex-direction: column;
    margin: 16px 100px 16px 100px;
}
#quotebody {
    font-size: 30px;
}
/* signup */
#signup {
    width: 75%;
    background-color: #3882F6;
    color: white;
    justify-content: center;
}
/* footer */
#footer {
    background-color: #1F2937;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0;
    justify-content: center;
    color: white;
}