body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
/* buttons */
a {
    text-decoration: none;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
/*hero */
#header {
    display: flex;
    background-color: black;
    width: 100%;
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 32px;
    text-decoration: none;
    list-style-type: none;
}
/* main body */
.maininfo {
    position: absolute;
    text-align: center;
    top: 17%;
    left: 40%;
    right: auto;
    color: white;
}
#frontbutton:hover {
    color: blue;
}
.front-picture {
    width: 100%;
    height: 1282px;
}
#start {
    width: 100%;
    height: 400px;
    font-size: 30px;
}
/* cards information */
#infobody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    color: white;
}
#spotifycards {
    display: flex;
    width: 100%;
    gap: 16px;
    border: 16px;
    border-color: #3882F6;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    opacity: .8;
    font-size: 30px;
}
iframe {
    width: 80%;
}
/* quote*/
#quote {
    background-image: linear-gradient(white);
    width: 100%;
}
.insidebody {
    flex-direction: column;
    margin: 16px 100px 16px 100px;
    color: white;
    background-color: black;
    opacity: .9;
    border: 20px;
    border-radius: 15px;
}
#quotebody {
    font-size: 30px;
}
/* signup */
#signup {
    background-color: black;
    width: 100%;
    padding: 50px;
}
#insidesignup {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left:30%;
    margin-right: 33%;
}
#baddiebutton {

}
#baddiebutton:hover {
    color: red;
}
/* footer */
#footer {
    background-color: #1F2937;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0;
    justify-content: center;
    text-align: center;
    color: white;
}