body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}
/* buttons */
.button {
    text-decoration: none;
}
.button:link {
    color: white;
}
.button:visited {
    color: white;
}
/*hero */
#header {
    width: 100%;
    color: white;
    justify-content: space-between;
}
.links {
    display: flex;
    gap: 32px;
    text-decoration: none;
    list-style-type: none;
}
/* main body */
.mainbody{
    display: flex;
}
#start {
    background-color: #1F2937;
    color: white;
    width: 100%;
    justify-content: center;
}
/* cards information */
#infobody {
    display: flex;
    flex-direction: column;
}
#cards {
    display: flex;
    gap: 16px;
}
/* quote*/
#quote {
    background-color: #E5E7EB;
}
.insidebody {
    flex-direction: column;
    margin: 16px 100px 16px 100px;
}
#quotebody {
    font-size: 30px;
}
/* signup */
#signup {
    width: 75%;
    background-color: #3882F6;
    color: white;
    justify-content: center;
}
/* footer */
#footer {
    background-color: #1F2937;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0;
    justify-content: center;
    color: white;
}